body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url('../images/loginico.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.goToDTuser {
    background-color: transparent;
    font-size: 1vw;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    border: none;
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
    color: black;
}

.goToDTuser:hover {
    cursor: pointer;
    color: #009879;
    background-color: #eeeeee;
}
.copyright {
    position: fixed;
    bottom: 2px;
    right: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}


.accordion__content p{
    color: #ffffff;
}
.accordion{
    position: fixed;
    top: 10%;
    right: 2%;
    width: 20%;
    height: 80%;
    font: 500 1vw 'Trebuchet MS', sans-serif;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: var(--color-primary-dark);
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.6s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.2);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: var(--color-primary-dark);
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.work{
    width: 100%;
    height: 50px;
    color: #ffffff;
    border: none;
    background-color: transparent;
    transition: all 0.6s;

}
.workNot{
    width: 100%;
    height: 50px;
    color: var(--color-error);
    border: none;
    background-color: transparent;
}
.work:hover{
    background-color: #ffffff;
    font-size: large;
    color: var(--color-primary-dark);
    cursor: pointer;
}


.eventName {
    position: fixed;
    top: 10%;
    left: 2%;
    width: 20%;
    font: 500 1vw 'Trebuchet MS', sans-serif;
    color: #0f7a65;
}
.container {
    min-width: 400px;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    overflow: auto;
}

.content-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
min-width: 400px;
border-radius: 5px 5px 0 0;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.output {
    border-bottom: #009879 2px solid;
}
.output thead {
background-color: #009879;
color: #ffffff;
text-align: left;
font-weight: bold;
cursor: pointer;
}

.output th,
.output td {
padding: 12px 15px;

}


.output tbody>tr>:nth-child(6) {
    padding: 0;
    align-items: center;
    text-align: center;
    align-items: center;
}
.output tbody>tr>:nth-child(4){
    align-items: center;
    text-align: center;
    align-items: center;
}
.output tbody tr:hover{
    background-color: #dddddd;
    transition: all 0.3s ease 0s;
}

.output .th-sort-asc::after {
content: "\25b4";
}

.output .th-sort-desc::after {
content: "\25be";
}

.output .th-sort-asc::after,
.output .th-sort-desc::after {
margin-left: 5px;
}

.output .th-sort-asc,
.output .th-sort-desc {
background: rgba(0, 0, 0, 0.1);
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Trebuchet MS', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    color: white;
    background: linear-gradient(45deg,  #0f7a65, #ffffff, #0f7a65);
    background-size: 180% 180%;
    animation: gradient 2s ease infinite;   
}

@keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    color: #0f7a65;
}

.form__link:hover {
    text-decoration: underline;
    color: #2ef307;
} 
.blockItem {
margin: 0px 0px 20px 0px;
font: 500 1vw 'Trebuchet MS', sans-serif;
}

.gotodoc {
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    color: #0f7a65;    
}
.blockTitle {
    text-transform: uppercase;
    position: relative;
    padding: 0px 0px 0px 30px;
    cursor: pointer;
    color: #0f7a65;
    
}
.gotodoc:hover,
.blockTitle:hover {
    color: #2ef307;
}
.blockTitle::before{
    content: '';
    background: url('../images/menuico.png');
    background-repeat: no-repeat;
    padding-right: 7px;
    width: 5px;
    height: 5px;
    padding-left: 20px;

}

.blockText {
    padding: 0px 0px 0px 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease 0s;

}
.wrapper {
    
    min-height: 30%;
    position: relative;
    overflow: hidden;
}
.content {
    padding: 5px 0;
    max-width: 1000px;
    margin: 0px auto;
}
.tabs {
    margin: 0px 0px 20px 0px;
}
.tabs__items {
display: flex;
}
.tabs__item {
    flex: 0 1 33.333%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f7a65;
    font: 500 1vw 'Trebuchet MS', sans-serif;
}
.tabs__block {
    position: relative;
    padding: 20px;
    font-size: 1vw;
    line-height: 24px;
    display: none;
}
.tabs__block:nth-child(1) {
    background-color: #dddddd;
}
.tabs__block:nth-child(2) {
    background-color: #dddddd
}
.tabs__block:nth-child(3) {
    background-color: #dddddd;
}
.tabs__block:nth-child(1)::before {
    background-color: #dddddd;
    left: 0;
}
.tabs__block:nth-child(2)::before {
    background-color: #dddddd;
    left: 33.333%;
}
.tabs__block:nth-child(3)::before {
    background-color: #dddddd;
    right: 0;
}
.tabs__block:target{
    display: block;
}
.tabs__block::before{
    content: "";
    height: 50px;
    width: 33.333%;
    position: absolute;
    top: -50px;
}
.tabs__item span{
    position: relative;
    z-index: 2;
}
.tabs__item:hover {
    background-color: #eeeeee;
    transition: all 0.3s ease 0s;
}
.cont {
    vertical-align: top;
    max-width:min-content;
    height: 90%;
}
@media (max-width: 600px){
    .tabs__item span {
        display: block;
        width: 100px;
        padding: 0px 5px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
}



.buttonGo {
  
  border: none;
  background-color: transparent;
  border-radius: 4px;
  color: #0f7a65;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  
}
.buttonGo:hover {
    background-color: #0f7a65;
    color: #dddddd;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.quit {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    color: #0f7a65;
    font-weight: 100;
    letter-spacing: 0.01em;
  }

  .quit:hover {
    background-color: #0f7a65;
    color: #dddddd;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }


  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  