body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --border-radius: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: rgba(145, 207, 194, 0.6);
    
}



.wrong{
  background-color: rgba(255, 0, 0, 0.4);
}

#scorePanel,
#fillPanel{
  position: fixed;
  left: 2%;
  width: fit-content;
  height: fit-content;
  margin: 2rem;
  padding: 2rem;
  background-color: var(--color-primary-dark);
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: rgba(255, 166, 0, 0.6);
  overflow: auto;
}
#scorePanel{
  top: 20vh;
}
#fillPanel{
  top: 40vh;
}
.notes{
  margin-bottom: 50px;
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  transition: all 0.8s;
}

.notes:hover{
  background-color: #ffffff;
  color: var(--color-primary-dark);
}

.about{
  display: inline-flex;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
}

.question{
  color: var(--color-primary-dark);
  margin-bottom: 20px;
  font-weight: bold;
}

.qDivMain{
  margin-bottom: 30px;
}

.container {
  min-width: 400px;
  max-width: 800px;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
  overflow: auto;
}
 
.btn{
  margin-top: 60px;
  width: 100%;
  height: 50px;
  border: none;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  transition: all 0.8s;
}

.btn:hover{
  background-color: var(--color-primary-dark);
  color: #eee;
  cursor: pointer;
}

 
 
 
 /* Customize the label (the lbl) */
 .lbl {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.5s;
}

.lbl:hover{
  color: var(--color-primary-dark);
}

/* Hide the browser's default radio button */
.lbl input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.lbl:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.lbl input:checked ~ .checkmark{
  background-color: var(--color-primary-dark);
}

.lbl input:active ~ .checkmark{
  animation: chekmarkEffect 1s ease-in-out;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.lbl input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.lbl .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: yellow;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: var(--color-primary-dark);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}


@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes chekmarkEffect {
  0% {
    scale: 2;
    background-color: var(--color-primary-dark);
    opacity: 0.6;
  }
  50% {
    scale: 0.5;
  }
  100% {
    scale: 1;
    
  }
}
